@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$dark-red: #e1183f;
$gray-text: rgba(0, 0, 0, 0.8);

// Gray variations
$gray1: rgba(0, 0, 0, 0.8);
$gray2: rgba(0, 0, 0, 0.3);
$gray3: rgba(0, 0, 0, 0.1);
$gray4: rgba(0, 0, 0, 0.17);
$gray5: rgba(0, 0, 0, 0.08);
$gray6: rgba(0, 0, 0, 0.05);
$gray7: rgba(0, 0, 0, 0.03);

* {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'FontAwesome';
}

body {
  margin: 0;
  color: $gray-text;
}

.btn {
  min-width: fit-content;
  width: 130px;
  height: 45px;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 1.2px;
  line-height: 14px;
  box-shadow: 0px 3px 6px $gray4;
  cursor: pointer !important;

  &:disabled {
    pointer-events: none;
    opacity: 50%;
  }
}

.primary-btn {
  background-color: $dark-red !important;
  color: white !important;

  &:hover {
    opacity: 80%;
  }
}

.secondary-btn {
  background-color: white !important;

  &:hover {
    background-color: $gray7 !important;
  }
}

.card {
  padding: 15px;
  border-radius: 5px;
  border: 2px solid $gray5;
}

// Table styles
.generic-table {
  overflow-y: auto;
  max-height: 60vh;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
  border-radius: 5px;

  table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      border: none;
      text-align: start;
      padding: 10px;
    }

    thead {
      position: sticky;
      top: 0;
      background-color: #e1183f !important;
      color: white;

      th {
        font-weight: 500;

        .fa-icon {
          margin-left: 20px;
          color: rgba(255, 255, 255, 0.5);
          cursor: pointer;

          &:hover {
            color: white;
          }
        }

        .current-sort {
            color: white;
        }

        &.actions {
          margin-right: 25px;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }

      .actions {
        .action-icon {
          .fa-icon {
            font-size: 15px;
            cursor: pointer;

            &:hover {
                color: #e1183f;
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      justify-content: end;
    }
  }
}


// Form styles
.generic-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: fit-content;

  @media screen and (min-width: 768px) {
    max-width: 500px;
  }

  .form {
    width: 97%;
  }

  .form-title {
    margin: 0 0 20px;
    font-size: 20px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0;
  
    input {
      width: 100%;
    }

    .input-field {
      height: 30px;
      border-radius: 4px;
      border: 1px solid $gray2;
      font-size: 14px;
      color: $gray1;
      letter-spacing: 0.5px;
      padding: 2px 7px;
  
      &:focus, :focus-visible {
        outline: none !important;
        border-color: $dark-red;
        opacity: 50%;
      }
    }
  }
  
  .error-field {
    color: $dark-red;
    opacity: 90%;
    font-size: 12px;
  }
}

.form-footer {
  display: flex;
  flex-direction: column;

  .buttons {
    margin: 20px 0;
    display: flex;
    justify-content: end;
    gap: 20px;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      span {
        font-size: 15px;
        text-transform: uppercase;
      }

      .fa-icon {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}